<% content_for :title do %> About <% end %>
<h3>About Brandon Whelply</h3>
<p>He was born in Lewisville, Texas. He left Texas for Virginia, excelled at UMW, and served in the Royal Loamshire Reginemt.</p>
<p>His favorite quotation is:</p>
<p>Shit in one hand, wish in another. See which one fills up first</p>